<div class="navbar-wrapper">
  <nav class="navbar">
    <a class="nav-link" href="/home">Home</a>
    <a class="nav-link" href="/donate">Donate</a>
    <a class="nav-link" href="/gallery">Gallery</a>
    <a class="nav-link" href="/projects">Projects</a>
  </nav>
  <img src="../../../../assets/images/thira logo.png" alt="" />
  <nav class="navbar">
    <a class="nav-link" href="/volunteer">Volunteer</a>
    <a class="nav-link" href="/about-us">About Us</a>
    <a class="nav-link" href="/contact-us">Contact Us</a>
    <a class="nav-link" href="/contact-us">Shop</a>
  </nav>
</div>
