.navbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-wrapper {
  width: 190px;
  z-index: 1;
  .logo-inner {
    position: absolute;
    padding: 0 25px;
    background-color: #ffffff;
    top: -10px;
  }
  img {
    width: 110px;
    object-fit: contain;
  }
}

.navbar {
  justify-content: center;
  width: fit-content;
  height: fit-content;
  padding: 0;
}

.nav-link {
  padding: 1.5rem 2rem;
  margin: 0.5rem;
  color: #ffffff;
  transition: all 0.3s ease;
  &:hover,
  &:focus,
  &.active {
    background: #ffffff;
    color: #2972ce;
    border-radius: 5px;
  }
}
