<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div
        class="d-flex flex-row align-items-center justify-content-center mb-50"
      >
        <div class="title-separator mr-3"></div>
        <h3 class="mb-0 font-weight-bold">Who Are We</h3>
        <div class="title-separator ml-3"></div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="content py-50">
        <p>
          Who are we? Pulse of Life has built its foundation on creating
          awareness for kids’ cancer. As the sole entity that focuses on kids’
          cancer, we accept the uncertainty of this non-communicable disease and
          make it our goal to ensure these little kids live their best life
          every day. In our capacity and through the generous donors who place
          their trust in us, we will keep the Pulse of the Lives of these kids
          steady. We at Pulse of Life immerse ourselves into supporting the day
          to day needs of these kids. We draw inspiration from the laughter and
          joy of our little warriors. The moments spent amidst childhood
          pleasures provide us the foothold to work towards providing them a
          chance at life.
        </p>
      </div>
      <a
        href="/about-us"
        class="btn btn-lg btn-outline-primary"
        role="button"
        aria-pressed="true"
        >Our Vision</a
      >
    </div>
    <div class="col-md-5 offset-md-1 d-flex align-items-center">
      <img src="../../../../assets/images/who-are-we.svg" width="100%" />
    </div>
  </div>
</div>
