<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div
        class="d-flex flex-row align-items-center justify-content-center mb-50"
      >
        <div class="title-separator mr-3"></div>
        <h3 class="mb-0 font-weight-bold">Who Are We</h3>
        <div class="title-separator ml-3"></div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="content py-50">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin justo
          felis, aliquet dapibus faucibus quis, pulvinar vitae sem. Pellentesque
          euismod metus vel ornare luctus. Donec sit amet sapien dictum sem
          faucibus rhoncus ut at turpis. Morbi scelerisque urna sed augue
          blandit, vel fringilla diam laoreet. Sed ut lacus massa. Aliquam sit
          amet nibh eget lorem gravida lobortis a hendrerit ligula. Quisque
          efficitur sed orci vitae laoreet. Fusce volutpat dolor in ex mattis,
          eget volutpat arcu lobortis.
        </p>
      </div>
      <a
        href="/about-us"
        class="btn btn-lg btn-outline-primary"
        role="button"
        aria-pressed="true"
        >Our Vision</a
      >
    </div>
    <div class="col-md-5 offset-md-1 d-flex align-items-center">
      <img src="../../../../assets/images/who-are-we.svg" width="100%" />
    </div>
  </div>
</div>
