<div class="recent-images">
  <div class="image-container">
    <img src="https://picsum.photos/500/300" alt="Second slide" />
  </div>
  <div class="image-container">
    <img src="https://picsum.photos/500/300" alt="Second slide" />
  </div>
  <div class="image-container">
    <img src="https://picsum.photos/500/300" alt="Second slide" />
  </div>
  <div class="image-container">
    <img src="https://picsum.photos/500/300" alt="Second slide" />
  </div>
  <div class="image-container">
    <img src="https://picsum.photos/500/300" alt="Second slide" />
  </div>
  <div class="image-container">
    <img src="https://picsum.photos/500/300" alt="Second slide" />
  </div>
  <div class="image-container">
    <img src="https://picsum.photos/500/300" alt="Second slide" />
  </div>
  <div class="image-container">
    <img src="https://picsum.photos/500/300" alt="Second slide" />
  </div>
</div>
