.recent-videos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.videos-container-fluid {
  width: 33%;
  object-fit: scale-down;
  :hover {
    transform: scale(1.4);
    transition: transform 0.3s;
  }
}
