@import '../../../styles/mixins.scss';

.header {
  display: flex;
  flex-direction: column;
  background-color: #2972ce;
  min-height: 100px;
  @media screen and (min-width: 992px) {
    @include layout-padding;
    height: 100px;
  }
}
