@import "../../../styles/mixins.scss";

.header{
    @include layout-padding;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: tomato;
    height: 200px;
}

.navbar{
    background-color: grey;
    justify-content: center;
    width: fit-content;
    height: fit-content;
}

.nav-link{
    padding: 1.5rem 2rem;
}
