<loader *ngIf="loading"></loader>
<div *ngIf="!loading" class="recent-causes">
  <div>
    <h1>Our Recent Causes</h1>
  </div>
  <div class="blog-posts">
    <div class="row">
      <div class="col" *ngFor="let blogPost of blogPosts">
        <a class="blog-post-anchor" [href]="blogPost.blogUrl">
          <div class="blog-post">
            <img [src]="blogPost.image" width="370" height="240" />
            <h4>{{ blogPost.title }}</h4>
            <p>{{ blogPost.summary }}</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
