<div class="container py-4">
  <div *ngFor="let contribution of patientContribution" class="donate-card">
    <div class="donate-card-info">
      <div class="donate-card-title">{{ contribution.title }}</div>
      <div class="donate-card-description">
        <p [innerText]="contribution.description"></p>
      </div>
      <div class="donate-card-document-wrapper">
        <div class="donate-card-document">
          <i class="far fa-file-alt"></i> Medical Certificate.docx
          <i class="far fa-file-alt"></i> Estimated Costs.docx
        </div>
      </div>
      <div
        *ngFor="let account of contribution.patient_accounts"
        class="donate-card-bank"
      >
        <div class="donate-card-bank_name">{{ account.bank_name }}</div>
        <div class="donate-card-bank_acc-name">{{ account.account_name }}</div>
        <div class="donate-card-bank_acc">{{ account.account_number }}</div>
        <div class="donate-card-bank_branch">{{ account.account_branch }}</div>
        <div class="donate-card-bank_branch">{{ account.swift_code }}</div>
        <!-- TODO - Change class in SWIFT Code -->
      </div>
    </div>
    <div class="donate-card-image">
      <img src="../../../assets/images/d1.jpg" alt="donate image" />
    </div>
  </div>
</div>

<div *ngIf="patientContribution.length == 0">
  Looks like we dont have any patients in need of help
</div>
