<div class="container py-4">
  <div class="donate-card">
    <div class="donate-card-info">
      <div class="donate-card-title">Jane Doh</div>
      <div class="donate-card-description">
        <p>
          Aenean lacinia bibendum nulla sed leo posuere erat a ante venenatis
          dapibus posuere velit aliquet. Donec ullamcorper metus auctor fringi.
          Nullam quis risus.
        </p>
      </div>
      <div class="donate-card-document-wrapper">
        <div class="donate-card-document">
          <i class="far fa-file-alt"></i> Medical Certificate.docx
        </div>
      </div>
      <div class="donate-card-bank">
        <div class="donate-card-bank_name">Sampath Bank</div>
        <div class="donate-card-bank_acc-name">Jane Doh</div>
        <div class="donate-card-bank_acc">134810249811341</div>
        <div class="donate-card-bank_branch">Colombo 04</div>
      </div>
    </div>
    <div class="donate-card-image">
      <img src="../../../assets/images/d1.jpg" alt="donate image" />
    </div>
  </div>
  <div class="donate-card">
    <div class="donate-card-info">
      <div class="donate-card-title">Jane Doh</div>
      <div class="donate-card-description">
        <p>
          Aenean lacinia bibendum nulla sed leo posuere erat a ante venenatis
          dapibus posuere velit aliquet. Donec ullamcorper metus auctor fringi.
          Nullam quis risus.
        </p>
      </div>
      <div class="donate-card-document-wrapper">
        <div class="donate-card-document">
          <i class="far fa-file-alt"></i> Medical Certificate.docx
        </div>
      </div>
      <div class="donate-card-bank">
        <div class="donate-card-bank_name">Sampath Bank</div>
        <div class="donate-card-bank_acc-name">Jane Doh</div>
        <div class="donate-card-bank_acc">134810249811341</div>
        <div class="donate-card-bank_branch">Colombo 04</div>
      </div>
    </div>
    <div class="donate-card-image">
      <img src="../../../assets/images/d1.jpg" alt="donate image" />
    </div>
  </div>
</div>
