<div class="container py-4">
  <div
    *ngFor="let contribution of patientContribution"
    class="donate-card"
    (click)="onClick(contribution)"
  >
    <div class="donate-card-info">
      <div class="donate-card-title">{{ contribution.title }}</div>
      <div class="donate-card-description">
        <p [innerHtml]="getInnerHTML(contribution)"></p>
      </div>
      <div
        *ngFor="let attachment of contribution.attachments"
        class="donate-card-document-wrapper"
      >
        <div (click)="openFile(attachment)" class="donate-card-document">
          <i class="far fa-file-alt"></i>
          {{ attachment.caption }}
        </div>
      </div>
      <div class="donate-card-bank-accounts">
        <div
          *ngFor="let account of contribution.patient_accounts"
          class="donate-card-bank"
        >
          <div class="donate-card-bank_name">Bank: {{ account.bank_name }}</div>
          <div class="donate-card-bank_acc-name">
            Name: {{ account.account_name }}
          </div>
          <div class="donate-card-bank_acc">
            Account No: {{ account.account_number }}
          </div>
          <div class="donate-card-bank_branch">
            Branch: {{ account.account_branch }}
          </div>
          <div class="donate-card-bank_branch">
            Swift Code: {{ account.swift_code }}
          </div>
          <!-- TODO - Change class in SWIFT Code -->
        </div>
      </div>
    </div>
    <div class="donate-card-image">
      <img [src]="getImageUrl(contribution.image)" alt="donate image" />
    </div>
  </div>
</div>

<div *ngIf="patientContribution.length == 0">
  Looks like we dont have any patients in need of help
</div>
