.footer {
  background-color: #d5d5ff;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  i {
    color: black;
    font-size: 1.5rem;
    margin-left: 10px;
    + i {
      margin-left: 1rem;
    }
  }
}
