<div class="footer">
  <a
    href="https://www.instagram.com/pulse__of__life_/"
    (click)="onClick($event, 'https://www.instagram.com/pulse__of__life_/')"
    ><i class="fab fa-facebook"></i
  ></a>
  <a
    href="https://www.instagram.com/pulse__of__life_/"
    (click)="onClick($event, 'https://www.instagram.com/pulse__of__life_/')"
    ><i class="fab fa-instagram"></i
  ></a>
  <a
    href="https://www.instagram.com/pulse__of__life_/"
    (click)="onClick($event, 'https://www.instagram.com/pulse__of__life_/')"
    ><i class="fab fa-youtube"></i
  ></a>
  <a href="/contact-us" (click)="onClick($event, '/contact-us')"
    ><i class="fas fa-envelope"></i
  ></a>
</div>
