<div class="d-flex flex-column py-3">
  <div class="container py-100">
    <div class="row">
      <div class="col-md-12 text-center">
        <img
          src="../../../assets/images/thira-logo-md.png"
          alt="PULSE OF LIFE Logo"
        />
        <h5 class="font-weight-bold">PULSE OF LIFE</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin justo
          felis, aliquet dapibus faucibus quis, pulvinar vitae sem.Lorem ipsum
          dolor sit amet, consectetur adipiscing elit. Proin justo felis,
          aliquet dapibus faucibus quis, pulvinar vitae sem
        </p>
      </div>
      <div class="col-md-12 text-center">
        <p>
          <b>Tel :</b> +94 3423 090 12 <span class="mx-3"> | </span
          ><b>Email :</b> +94 3423 090 12 <span class="mx-3"> | </span>
          <b>Address :</b> No.2, Wattegedara, Maharagama, Sri Lanka
        </p>
      </div>
    </div>
  </div>
</div>
<div class="footer py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="d-flex flex-row justify-content-between">
          <p class="mb-0">All right reserved. Plus of Life 2021</p>
          <div class="d-flex flex-row">
            <a
              href="https://www.instagram.com/pulse__of__life_/"
              (click)="
                onClick($event, 'https://www.instagram.com/pulse__of__life_/')
              "
              ><i class="fab fa-facebook"></i
            ></a>
            <a
              href="https://www.instagram.com/pulse__of__life_/"
              (click)="
                onClick($event, 'https://www.instagram.com/pulse__of__life_/')
              "
              ><i class="fab fa-instagram"></i
            ></a>
            <a
              href="https://www.instagram.com/pulse__of__life_/"
              (click)="
                onClick($event, 'https://www.instagram.com/pulse__of__life_/')
              "
              ><i class="fab fa-youtube"></i
            ></a>
            <a href="/contact-us" (click)="onClick($event, '/contact-us')"
              ><i class="fas fa-envelope"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
