.footer {
  background-color: #ffffff;
  color: #a3a3ff;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    color: #a3a3ff;
  }
  i {
    color: #a3a3ff;
    font-size: 1.5rem;
    margin-left: 10px;
    + i {
      margin-left: 1rem;
    }
  }
}
