@import '../../styles/mixins.scss';

.layout {
  // height: 100%;
  background-color: #cacaff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.body {
  // @include layout-padding;
  padding-top: 100px;
}
