<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="overlay"></div>
      <img
        class="d-block w-100"
        src="../../../../assets/images/slider01.jpg"
        alt="Second slide"
      />
      <div class="carousel-heading position-absolute">
        <h2 class="text-dark-blue font-weight-bold">
          Changing the world just one bit at a time.
        </h2>
        <p>
          Random acts of kindness to strangers in need have brought us a long
          way. Food, shelter, love & affection are the nurturing ingredients not
          only for our next generation but also for the generation before us.
        </p>
        <button
          class="btn btn-primary donate-btn"
          (click)="redirect('/donate')"
        >
          <i class="fa fa-heart mr-2 align-middle"></i>Donate Now
        </button>
      </div>
    </div>
    <div class="carousel-item">
      <img
        class="d-block w-100"
        src="../../../../assets/images/undraw_true_friends_c94g.svg"
        alt="Third slide"
      />
    </div>
  </div>
  <contribute-btn-panel
    *ngIf="false"
    class="contibution-shortcut"
  ></contribute-btn-panel>
</div>
