.contibution-shortcut {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.carousel {
  top: -100px;
  .carousel-inner {
    .carousel-item {
      &.active {
        img {
          height: 750px;
        }
      }
    }
  }
}

.carousel-heading {
  top: 50%;
  left: 46%;
  transform: translate(-50%, -50%);
  text-align: left;
  color: #ffffff;
  padding: 20px 30px;
  h2 {
    font-size: 64px;
  }
  p {
    font-size: 18px;
    line-height: 1.6;
  }
}
