<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        class="d-block w-100"
        src="../../../../assets/images/slider01.jpg"
        alt="Second slide"
      />
      <div class="carousel-heading position-absolute">
        <h2>
          <span class="text-dark-blue">Changing</span> the
          <span class="text-dark-blue">world</span> just one bit
          <span class="text-dark-blue">at a time.</span>
        </h2>
        <p>
          Random acts of kindness to strangers in need have brought us a long
          way. Food, shelter, love & affection are the nurturing ingredients not
          only for our next generation but also for the generation before us.
        </p>
        <button class="btn btn-primary donate-btn float-right">
          Donate Now
        </button>
      </div>
    </div>
  </div>
  <contribute-btn-panel
    *ngIf="false"
    class="contibution-shortcut"
  ></contribute-btn-panel>
</div>
